Flask>=0.12
flask_debugtoolbar==0.10.1
Flask-SQLAlchemy==2.2
psycopg2==2.7.1
SQLAlchemy==1.1.7
SQLAlchemy-ImageAttach
flask-fixtures==0.3.6
requests
WTForms
jinja2>=2.6
geopy
itertools
requests_authlib
