<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Get API Info Page</title>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<script type="text/javascript">
let sf_data = $.ajax({
    type: 'GET',
    url: "https://data.sfgov.org/resource/cuks-n6tp.json",
    async: true,
    dataType: 'json',
    data: {"category": "PROSTITUTION"},
    success: function(response) {
    	console.log(response);
    	downString = response.downloadString;
    }
});    

console.log(sf_data)
</script>
</body>
</html>