{% extends 'base.html' %}
{% block title %}About SafeWork{% endblock %}
{% block head %}
<div class="gen_div">
<h1>Additional Resources</h1>
</div>
{% endblock %}
{% block content %}
<div class="gen_div">
<h2>Contact Us!</h2>
<h5>This site is brand new and there are a number of features still in progress. In the near future, you'll be able to create your own discussion forums, but until then, e-mail safeworkapp@gmail.com to give suggestions and we'll also create forums for any topics that gain popularity in the main forums.</h5>

<h5>The map only has strong data from the Bay Area. Some cities don't in any way publish their data, but some do. If you work in a city and would like for that city to be covered in the sex work arrest map, again e-mail us at safeworkapp@gmail.com and your city will be put at the top of our long list of cities to add!</h5>

<h5>If you have any other comments or questions on how we can improve the site, let us know! If you are a developer and would like to contribute, e-mail us, we can discuss what's needed, and we'll link you to the git!</h5>

<h5>The next big feature to be added (hopefully by fall 2018) is a feature where workers can customize automatic safety alerts. It will be able to be set up so once a worker goes out on the/a job, it can require periodic check-ins online, through e-mail or over SMS. After some period of not checking in, the app will automatically text and then call the worker to elicit a reponse (potentially a pre-set pin number or message). After a preset time, if the app still hasn't received a notice of safety from the worker, it will automatically e-mail, SMS, and/or call preset friends or family and provide them with the details and timeline of events. It will be an optional setting, but the app will be able to track the worker's phone's GPS and hopefully provide their people with their exact location.</h5>

<h5> E-mail safeworkapp@gmail.com with any comments!</h5>
</div>

<div class="gen_div">
<h1>Additional Resources</h1>
</div>
<div class="gen_div">
<h2>St. James Infirmiry, San Francisco, CA</h2>
<h5><a href="https://stjamesinfirmary.org">https://stjamesinfirmary.org/</a></h5>
<p>
	St. James Infirmary is a peer-based occupational health and safety clinic for sex workers and their families based in San Francisco, CA. It provides myriad services including traditional healthcare, counseling and other mental healthcare, STI testing, intersectional community projects, and a bad date list.
</p><br><br>
<h2>Sex Workers Outreach Project USA</h2>
<h5><a href="http://www.new.swopusa.org">http://www.new.swopusa.org/</a></h5>
<p>
	The Sex Workers Outreach Project is a national social justice network dedicated to the fundamental human rights of people involved in the sex trade and their communities, focusing on ending violence and stigma through education and advocacy. It is one of the main national sex worker support organizations. It has many different services in different places, but it is a great central resource to visit!
</p><br><br>
<h2>Sex Workers Anonymous</h2>
<h5><a href="http://www.sexworkersanonymous.com/">http://www.sexworkersanonymous.com/</a></h5>
<p>
	Sex Workers Anonymous is a program devoted to getting people out of sex work (who want to get out) and in particular, fighting human trafficking. Unfortunately, many organizations devoted to "fighting human trafficking" lobby and fight for laws that (whether on purporse or incidentally) harm consensual sex workers who AREN'T trying to get out of the business. At first glance, this program seems to focus on the wellbeing of individual people they work with, but if you see evidence that they in any way harm sex workers, please let the admins know (at safeworkapp@gmail.com) and we will remove them from our resource page!
</p>
</div>
{% endblock %}