{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<h2 style="text-align: center;">Edit Your Profile:</h2>



<div class="container">
<div class="row" style="width: 100%;">
<div class="col-lg-6-offset-3 col-md-8-offset-2 col-sm-10-offset-1 col-xs-12">	
	<form action="/edit_profile" method="POST"><br>
	
		<b>E-mail:</b><b style="color: red;">*</b> <input type=textbox name="email_input"  value="{{ email }}" required></input><br><br>
		<b>Username:</b><b style="color: red;">*</b> <input type=textbox name="username" value="{{ username }}" required><br><br>
		
		(Feel free to use any name, real or fake!)<br>
		<b>First name: <b style="color: red;">*</b></b><input type=textbox name="fname" value="{{ fname }}" required></input>&nbsp &nbsp<b>Last name:</b><input type=textbox name="lname" value={{ lname }}></input><br><br>

		<b>What is your timezone?:</b>
	<select name="timezone" id="DropDownTimezone" value="{{ user.timezone }}">
		<option value="-12.0" {% if user.timezone == '-12.0' %}selected{% endif %}>(GMT -12:00) Eniwetok, Kwajalein</option>
		<option value="-11.0" {% if user.timezone == '-11.0' %}selected{% endif %}>(GMT -11:00) Midway Island, Samoa</option>
		<option value="-10.0" {% if user.timezone == '-10.0' %}selected{% endif %}>(GMT -10:00) Hawaii</option>
		<option value="-9.0" {% if user.timezone == '-9.0' %}selected{% endif %}>(GMT -9:00) Alaska</option>
		<option value="-8.0" {% if user.timezone == '-8.0' %}selected{% endif %}>(GMT -8:00) Pacific Time (US &amp; Canada), California</option>
		<option value="-7.0" {% if user.timezone == '-7.0' %}selected{% endif %}>(GMT -7:00) Mountain Time (US &amp; Canada), Colorado</option>
		<option value="-6.0" {% if user.timezone == '-6.0' %}selected{% endif %}>(GMT -6:00) Central Time (US &amp; Canada), Mexico City; Louisiana</option>
		<option value="-5.0" {% if user.timezone == '-5.0' %}selected{% endif %}>(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima; New York</option>
		<option value="-4.0" {% if user.timezone == '-4.0' %}selected{% endif %}>(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
		<option value="-3.5" {% if user.timezone == '-3.5' %}selected{% endif %}>(GMT -3:30) Newfoundland</option>
		<option value="-3.0" {% if user.timezone == '-3.0' %}selected{% endif %}>(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
		<option value="-2.0" {% if user.timezone == '-2.0' %}selected{% endif %}>(GMT -2:00) Mid-Atlantic</option>
		<option value="-1.0" {% if user.timezone == '-1.0' %}selected{% endif %}>(GMT -1:00 hour) Azores, Cape Verde Islands</option>
		<option value="0.0" {% if user.timezone == '0.0' %}selected{% endif %}>(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
		<option value="1.0" {% if user.timezone == '1.0' %}selected{% endif %}>(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
		<option value="2.0" {% if user.timezone == '2.0' %}selected{% endif %}>(GMT +2:00) Kaliningrad, South Africa</option>
		<option value="3.0" {% if user.timezone == '3.0' %}selected{% endif %}>(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
		<option value="3.5" {% if user.timezone == '3.5' %}selected{% endif %}>(GMT +3:30) Tehran</option>
		<option value="4.0" {% if user.timezone == '4.0' %}selected{% endif %}>(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
		<option value="4.5" {% if user.timezone == '4.5' %}selected{% endif %}>(GMT +4:30) Kabul</option>
		<option value="5.0" {% if user.timezone == '5.0' %}selected{% endif %}>(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
		<option value="5.5" {% if user.timezone == '5.5' %}selected{% endif %}>(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
		<option value="5.75" {% if user.timezone == '5.75' %}selected{% endif %}>(GMT +5:45) Kathmandu</option>
		<option value="6.0" {% if user.timezone == '6.0' %}selected{% endif %}>(GMT +6:00) Almaty, Dhaka, Colombo</option>
		<option value="7.0" {% if user.timezone == '7.0' %}selected{% endif %}>(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
		<option value="8.0" {% if user.timezone == '8.0' %}selected{% endif %}>(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
		<option value="9.0" {% if user.timezone == '9.0' %}selected{% endif %}>(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
		<option value="9.5" {% if user.timezone == '9.5' %}selected{% endif %}>(GMT +9:30) Adelaide, Darwin</option>
		<option value="10.0" {% if user.timezone == '10.0' %}selected{% endif %}>(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
		<option value="11.0" {% if user.timezone == '11.0' %}selected{% endif %}>(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
		<option value="12.0" {% if user.timezone == '12.0' %}selected{% endif %}>(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option><br><br>
	</select>
		<br><br>

		<b>Additional E-mail:</b> <input type=textbox name="email_input2"></input><br><br>
	
		<b>Phone Number:</b><input type="tel" name="phone"><br><br>
		
		<b>Tagline:</b> (what is your experience?) <input type=textbox name="tagline" maxlength="100"><br><br>
		<b>What city/area is most of your experience from?</b><input type=textbox name="location" maxlength="50"><br><br>
		
		
		<br><br><b>Tell us a bit about yourself:</b><br>
		<textarea rows="6" cols="50" name="about_me">{{ about_me }}</textarea><br>

		<b>Please Re-Enter Your Password:</b><b style="color: red;">*</b> <input type=password name="password" id="myInput" required></input><br>
		<input type="checkbox" onclick="myFunction()">Show Password<br>


		<br><input type=submit></form>
</div>
</div>
</div>


<script>
	function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

	function myFunction2() {
    var x = document.getElementById("myInput2");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

</script>
{% endblock %}