{% extends 'base.html' %}
{% block title %}Discussion Forums{% endblock %}
{% block head %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<style>
	div.post {outline-style: solid; background: rgba(0, 0, 0, 0.7);}
	div.child_post {outline-style:solid; width:84%; margin-top:1%; margin-left: 16%; background: rgba(0, 0, 0, 0.7);}
	div.child_post_hidden1 {outline-style:solid; width:84%; margin-left: 16%; display: none; background: rgba(0, 0, 0, 0.7);}
	div.child_post_hidden2 {outline-style:solid; width:84%; margin-left: 16%; display: none; background: rgba(0, 0, 0, 0.7);}
	div.child_post_hidden3 {outline-style:solid; width:84%; margin-left: 16%; display: none; background: rgba(0, 0, 0, 0.7);}
	div.child_post_hidden4 {outline-style:solid; width:84%; margin-left: 16%; display: none; background: rgba(0, 0, 0, 0.7);}
	div.child_post_hidden5 {outline-style:solid; width:84%; margin-left: 16%; display: none; background: rgba(0, 0, 0, 0.7);}
	div.child_post_hidden6 {outline-style:solid; width:84%; margin-left: 16%; display: none; background: rgba(0, 0, 0, 0.7);}
	div.child_post_hidden7 {outline-style:solid; width:84%; margin-left: 16%; display: none; background: rgba(0, 0, 0, 0.7);}
	div.child_post_hidden8 {outline-style:solid; width:84%; margin-left: 16%; display: none; background: rgba(0, 0, 0, 0.7);}
	div.child_post_hidden9 {outline-style:solid; width:84%; margin-left: 16%; display: none; background: rgba(0, 0, 0, 0.7);}
	div.child_post_hidden10 {outline-style:solid; width:84%; margin-left: 16%; display: none; background: rgba(0, 0, 0, 0.7);}
	div.hidden {
	display: none;
	}
	form.hidden {
	display: none;
	}

	div.text_div{
		margin: 2% 2% 2% 2%;
	}
	th.forums {width:12.5%;}
</style>


{% endblock %}
{% block content %}


<h2>Discussion Forums</h2>
 <table style="width:80%">
	<tr>
		<th class="forums" border="2px solid red"><a href="/forums/order_by_date/1/1"><b>{{ cam.forum_name }}</b></a></th>
		<th class="forums" border="2px solid red"><a href="/forums/order_by_date/2/1"><b>{{ dom.forum_name }}</b></a></th>
		<th class="forums" border="2px solid red"><a href="/forums/order_by_date/3/1"><b>{{ escort.forum_name }}</b></a></th>
		<th class="forums" border="2px solid red"><a href="/forums/order_by_date/4/1"><b>{{ porn.forum_name }}</b></a></th>
		<th class="forums" border="2px solid red"><a href="/forums/order_by_date/5/1"><b>{{ dance.forum_name }}</b></a></th>
		<th class="forums" border="2px solid red"><a href="/forums/order_by_date/6/1"><b>{{ phone.forum_name }}</b></a></th>
		<th class="forums" border="2px solid red"><a href="/forums/order_by_date/7/1"><b>{{ sugar.forum_name }}</b></a></th>
		<th class="forums" border="2px solid red"><a href="/forums/order_by_date/8/1"><b>{{ other.forum_name }}</b></a></th>
	</tr>
{% block forum_menu %}
{% endblock %}
 </table> {% block forum %}{% endblock %}


{% endblock %}