{% extends 'forums.html' %}
{% block forum %} 
<h1>{{ forum.forum_name }}</h1>
{{ forum.forum_desc }} 
<div align="right" display="inline-block">Order By: 
	<button class="sorting" id="Date" value="Date Posted" type="button" onclick="location.href='/forums/order_by_date/{{ forum.forum_id }}/{{ current_page }}'" height="15px" width="80px">Date Posted</button>
	<button type="button" class="sorting" id="Pop" value="Post Popularity" onclick="location.href='/forums/order_by_pop/{{ forum.forum_id }}/{{ current_page }};'">Post Popularity</button>
</div> 

{% for post in posts[((10 * current_page) - 10): (10 * current_page)] %}
	{% set postloop = loop %}
	<br>
		<div class="container-fluid">
			<div class="post" id="post{{ post.post_id }}" color="white" padding-left="10px">

				<div class="row">

					<div class="col-8" id="parent_content{{ post.post_id }}" align="left">
						<div class="text_div">
						<form class="hidden" action="/forums/edit/{{ post.post_id }}" id="parent_edit_form{{ post.post_id }}" method="POST">
							<b>Edit your post:</b>
							<textarea rows="3" cols="50" name="child_content">{{ post.content }}</textarea>
							<input type=submit value="Submit Edit">
						</form>
						
							<b>{{ post.username }}:</b> {{ post.content }}
				<!-- 			{{ user.tagline }}, {{ user.location }} -->
						</div>
					</div>





					<div  class="col-4"  align="right" id="div{{ post.post_id }}" color="white">
						



						{% if post.post_id not in flags and post.user_id != user.user_id %}
						<div class="text_div">
						<button class="but_class" id="flag_but{{ post.post_id }}">Flag/Report Post For Removal</button>
						<div class="hidden" id="Flag_Form{{ post.post_id }}">
							<p id="Flag_Form" class="small">Why should this post be removed?
								<form class="small" id="Flagging_form" action="/forums/flag/{{ post.post_id }}" method="POST">
									<input class="small" type="radio" name="flag_rad" value="abusive">Abusive
									<input class="small" type="radio" name="flag_rad" value="trolling">Trolling
									<input class="small" type="radio" name="flag_rad" value="off_topic">Off-Topic
									<input class="small" type="radio" name="flag_rad" value="human_traf">Human-Trafficking
									<input class="small" type="radio" name="flag_rad" value="pimping">Pimping
									<input class="small" type="radio" name="flag_rad" value="other">Other
									<input class="small" type="submit" id="Flag_Post_but" value="Flag Post">
								</form>
							</p>
						</div>
						</div>
						{% elif post.user_id != user.user_id %} <p> "You have flagged this post for removal!" </p> 
						{% elif post.deleted == False %}
						<button class="edit_class{{ post.post_id }}" id="parent_edit{{ post.post_id }}">Edit Post</button>
						<button class="delete_class{{ post.post_id }}" id="parent_delete{{ post.post_id }}">Delete Post</button>
						{% endif %}
						<form class="hidden" id="parent_delete_form{{ post.post_id }}" action="/forums/delete/{{ post.post_id }}" method="POST">
							Are you sure you want to delete this post?
							<input type="radio" name="delete_check" value="Yes" required>Yes
							<input type="submit" id="delete_sub{{ post.post_id }}" value="Delete Post"></form>
						</form>
					</div>






				</div>
				




				<div class="row">

				<div class="col-8">
					<div class="text_div">
						<a href="/forums/like/{{ post.post_id }}">Like</a>({{ post.like_num }})/<a href="/forums/dislike/{{ post.post_id }}">Dislike</a>({{ post.dislike_num }}) 
							&nbsp &nbsp <button id="parent_reply_but{{ post.post_id }}" style="display:inline">Reply to Post</button>
					</div>
				</div>
				<div class="col-4" align="right">
					<div class="text_div">
					Posted: {{ post.date_posted }}
				</div>
				</div>
				</div>
			</div>
		</div>
	</div>
			{% set child_count = [0] %}
			{% for c_post in child_posts %}
				{% if c_post.parent_post_id == post.post_id %}	
					{% if child_count.append(child_count.pop() + 1) %}{% endif %}	
			<div class="container-fluid">	
					<div {% if child_count != [1] and child_count != [2] %} class="child_post_hidden{{ postloop.index }}" {% else %} class="child_post" {% endif %} id="child_post{{ c_post.post_id }}">
						<div class="row">

							<div class="col-8"  id="child_content{{ c_post.post_id }}" align="left">
								<div class="text_div"><b>{{ c_post.username }}:</b> {{ c_post.content }}
								<!-- {{ user.tagline }}, {{ user.location }} -->
							</div>
							</div>
							<div class="col-4" align="right" id="child_div{{ c_post.post_id }}">
								{% if c_post.post_id not in flags and c_post.user_id != user.user_id %}
								
								<button class="child_but_class" id="child_but{{ c_post.post_id }}">Flag/Report Post
								</button>
								<div class="hidden" id="child_Flag_Form{{ c_post.post_id }}"  class="small">
									<p id="child_Flag_Form"  class="small">Why should this post be removed?
										<form id="child_Flagging_form" action="/forums/flag/{{ c_post.post_id }}" method="POST"  class="small">
										<input type="radio" name="flag_rad" value="abusive">Abusive
										<input type="radio" name="flag_rad" value="trolling">Trolling
										<input type="radio" name="flag_rad" value="off_topic">Off-Topic
										<input type="radio" name="flag_rad" value="human_traf">Human-Trafficking
										<input type="radio" name="flag_rad" value="pimping">Pimping
										<input type="radio" name="flag_rad" value="other">Other
										<input type="submit" id="Flag_Post_but" value="Flag Post"></form>
										{% elif c_post.user_id != user.user_id %} <p> "You have flagged this post for removal!" </p>
										{% elif c_post.deleted == False %}
										<button class="child_edit_class{{ c_post.post_id }}" id="child_edit{{ c_post.post_id }}">Edit Reply</button>
										<button class="child_delete_class{{ c_post.post_id }}" id="child_delete{{ c_post.post_id }}">Delete Reply</button>
										{% endif %}
										<form class="hidden" action="/forums/delete/{{ c_post.post_id }}" id="child_delete_form{{ c_post.post_id }}" method="POST">
											Are you sure you want to delete this post?
											<input type="radio" name="delete_check" value="Yes" required>Yes
											<input type="submit" id="delete_sub{{ c_post.post_id }}" value="Delete Post">
										</form>
									</p>
								</div>
								<form class="hidden" action="/forums/edit/{{ c_post.post_id }}" id="child_edit_form{{ c_post.post_id }}" method="POST">
								<b>Edit your post:</b>
								<textarea rows="3" cols="50" name="child_content">{{ c_post.content }}</textarea>
								<input type=submit value="Submit Edit">
								</form>
							</div>
							
							<div class="row">
							</div>
							<div class="row">
							
									<div>
										<span>&nbsp &nbsp &nbsp &nbsp Posted: {{ c_post.date_posted }} &nbsp &nbsp
									<a href="/forums/like/{{ c_post.post_id }}">Like</a>({{ c_post.like_num }})/<a href="/forums/dislike/{{ c_post.post_id }}">Dislike</a>({{ c_post.dislike_num }}) 
										</span>
									</div>
								

							</div>
						</div>
					</div>
				</div>	
			</div>
			<script>
console.log("Parent Loop =" + "{{ postloop.index }}" )
console.log( {{ child_count }} )

				// var c_flagBut{{ loop.index }} = document.querySelector('#child_but{{ loop.index }}');
				// var c_subFlag{{ loop.index }} = document.querySelector('#child_Flag_Form{{ loop.index }}');
				// function flag{{ loop.index }}(evt) {
				// 	evt.preventDefault();
				// 	$(c_flagBut{{ loop.index }}).hide();
				// 	$(c_subFlag{{ loop.index }}).show();
				// };

				$(document).ready(function(){
					$( "#child_but{{ c_post.post_id }}" ).click(function(){
						$( "#child_but{{ c_post.post_id }}" ).hide();
				        $( "#child_Flag_Form{{ c_post.post_id }}" ).show();
				        console.log("Function is called")
					});
				});


				$(document).ready(function(){
				    $( "#child_edit{{ c_post.post_id }}" ).click(function(){
				        $( "#child_delete{{ c_post.post_id }}" ).hide();
				        $( "#child_edit{{ c_post.post_id }}" ).hide();
				        $( "#child_content{{ c_post.post_id }}" ).hide();
				        $( "#child_edit_form{{ c_post.post_id }}" ).show();
				        console.log("Child Delete Button is working");
				    });
				});

				$(document).ready(function(){
				    $( "#child_delete{{ c_post.post_id }}" ).click(function(){
				        $( "#child_delete{{ c_post.post_id }}" ).hide();
				        $( "#child_edit{{ c_post.post_id }}" ).hide();
				        $( "#child_delete_form{{ c_post.post_id }}" ).show();
				        console.log("Child Delete Button is working");
				    });
				});

			</script>

		{% endif %}
	{% endfor %}
	{% if child_count[0] > 2 %}
	<div class="text_div" align="right">
	<button id="show_comments{{ post.post_id }}">Show more comments</button>
	</div> {% endif %}
	<div class="hidden" id="child_reply{{ post.post_id }}">
		<div class="text_div" align="right">
		<form action="/forums/child/{{ post.post_id }}" method="POST">
		<b>Reply to Post by {{ post.username }}:</b><br>
		<textarea rows="6" cols="50" name="child_content"></textarea><br>
		<input type=submit>
		</form>
		</div>
	</div>
	<script>

	$(document).ready(function(){
		$( "#flag_but{{ post.post_id }}" ).click(function(){
			$( "#flag_but{{ post.post_id }}" ).hide();
	        $( "#Flag_Form{{ post.post_id }}" ).show();
	        console.log("Function is called")
		});
	});

	$(document).ready(function(){
	    $( "#show_comments{{ post.post_id }}" ).click(function(){
	        $( "#show_comments{{ post.post_id }}" ).hide();
	        $( ".child_post_hidden{{ postloop.index }}" ).show();
	        console.log("Delete Button is working");
	    });
	});

	$(document).ready(function(){
	    $( "#parent_edit{{ post.post_id }}" ).click(function(){
	        $( "#parent_delete{{ post.post_id }}" ).hide();
	        $( "#parent_edit{{ post.post_id }}" ).hide();
	        $( "#parent_content{{ post.post_id }}" ).hide();
	        $( "#parent_edit_form{{ post.post_id }}" ).show();
	        console.log("Delete Button is working");
	    });
	});

	$(document).ready(function(){
	    $( "#parent_delete{{ post.post_id }}" ).click(function(){
	        $( "#parent_delete{{ post.post_id }}" ).hide();
	        $( "#parent_edit{{ post.post_id }}" ).hide();
	        $( "#parent_delete_form{{ post.post_id }}" ).show();
	        console.log("Delete Button is working");
	    });
	});

	$(document).ready(function(){
	    $( "#parent_reply_but{{ post.post_id }}" ).click(function(){
	        $( "#parent_reply_but{{ post.post_id }}" ).hide();
	        $( "#child_reply{{ post.post_id }}" ).show();
	        console.log("Reply Button is working");
	    });
	});

	</script>
{% endfor %}
<div>
<div class="text_div">
<form action="/forums/parent/{{ forum.forum_id }}/{{ current_page }}" method="POST">
<b>New Post:</b><br>
<textarea rows="6" cols="50" name="content"></textarea><br>
<input type=submit>
</form>
</div>
</div>
{% if post_index > 1 %}
<div class="pagination">
  <a href="/forums/order_by_date/{{ forum.forum_id }}/{{ current_page - 1 }}">&laquo;</a>
  {% for numb in range(1, (post_index+1)) %}
  {% if numb|int == current_page %}
  <a class="active" href="#">{{ numb }}</a>
  {% else %}
  <a href="/forums/order_by_date/{{ forum.forum_id }}/{{ numb }}">{{ numb }}</a>
  {% endif %}
  {% endfor %}
  <a href="/forums/order_by_date/{{ forum.forum_id }}/{{ current_page + 1 }}">&raquo;</a>
</div>
</p>
{% endif %}
{% endblock %}