{% extends 'base.html' %}
{% block title %}Discussion Forums{% endblock %}
{% block head %}
<style>
	div.post {outline-style: solid;}

</style>

<h2>Discussion Forums</h2>
 <a href="/forums/1">{{ cam.forum_name }}</a> &nbsp &nbsp
 <a href="/forums/2">{{ dom.forum_name }}</a> &nbsp &nbsp
 <a href="/forums/3">{{ escort.forum_name }}</a> &nbsp &nbsp
 <a href="/forums/4">{{ porn.forum_name }}</a> &nbsp &nbsp
 <a href="/forums/5">{{ dance.forum_name }}</a> &nbsp &nbsp
 <a href="/forums/6">{{ phone.forum_name }}</a> &nbsp &nbsp
{% endblock %}
{% block content %}


{% block forum %} {% endblock %}


{% endblock %}