{% extends 'forums.html' %}
{% block forum_menu %}



	<tr>
		<th><a href="/forums/order_by_date/1">{{ cam.forum_name }}</a> &nbsp &nbsp</th>
		<th><a href="/forums/order_by_date/2">{{ dom.forum_name }}</a> &nbsp &nbsp</th>
		<th><a href="/forums/order_by_date/3">{{ escort.forum_name }}</a> &nbsp &nbsp</th>
		<th><a href="/forums/order_by_date/4">{{ porn.forum_name }}</a> &nbsp &nbsp</th>
		<th><a href="/forums/order_by_date/5">{{ dance.forum_name }}</a> &nbsp &nbsp</th>
		<th><a href="/forums/order_by_date/6">{{ phone.forum_name }}</a> &nbsp &nbsp</th>
		<th><a href="/forums/order_by_date/7">{{ other.forum_name }}</a> &nbsp</th>
	</tr>

{% endblock %}