{% extends 'forums.html' %}
{% block forum %} 
<h1>{{ forum.forum_name }}</h1>
{{ forum.forum_desc }}<br> <br>

<div>
	<form action="/forums/{{ forum.forum_id }}" method="POST"><br>
		<b>New Post:</b>
		<br><textarea rows="6" cols="50" name="content"></textarea><br>
		<br><input type=submit>
	</form>
</div>
{% for post in posts %}
	<div class="post">
		<div align="right">Flag/Report Post For Removal<br> Why should this post be removed?<form action="/forums/flag/{{ post.post_id }}">
			<input type="radio" name="flag" value=""></form></div> 
			
			<b>{{ post.username }}:</b> {{ post.content }}

			<p style="text-align:left;"><a href="/forums/like/{{ post.post_id }}">Like</a>({{ post.like_num }})/<a href="/forums/dislike/{{ post.post_id }}">Dislike</a>({{ post.dislike_num }}) <span style="float:right;"> Posted: {{ post.date_posted }}</span></p>

	</div>	
{% endfor %}

{% endblock %}