{% extends 'base.html' %}
{% block title %}Discussion Forums{% endblock %}
{% block head %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<style>
	div.post {outline-style: solid;}
	div.child_post {outline-style:solid; width:80%; margin-left: 20%;}
	div.child_post_hidden1 {outline-style:solid; width:80%; margin-left: 20%; display: none;}
	div.child_post_hidden2 {outline-style:solid; width:80%; margin-left: 20%; display: none;}
	div.child_post_hidden3 {outline-style:solid; width:80%; margin-left: 20%; display: none;}
	div.child_post_hidden4 {outline-style:solid; width:80%; margin-left: 20%; display: none;}
	div.child_post_hidden5 {outline-style:solid; width:80%; margin-left: 20%; display: none;}
	div.child_post_hidden6 {outline-style:solid; width:80%; margin-left: 20%; display: none;}
	div.child_post_hidden7 {outline-style:solid; width:80%; margin-left: 20%; display: none;}
	div.child_post_hidden8 {outline-style:solid; width:80%; margin-left: 20%; display: none;}
	div.child_post_hidden9 {outline-style:solid; width:80%; margin-left: 20%; display: none;}
	div.child_post_hidden10 {outline-style:solid; width:80%; margin-left: 20%; display: none;}
	div.hidden {
	display: none;
	}
	form.hidden {
	display: none;
	}	
	th.forums {width:12.5%;}
</style>


{% endblock %}
{% block content %}


{% block forum %}<h2>Discussion Forums</h2>
 <table style="width:100%">
	<tr>
		<th class="forums"><a href="/forums/order_by_date/1/1">{{ cam.forum_name }}</a></th>
		<th class="forums"><a href="/forums/order_by_date/2/1">{{ dom.forum_name }}</a></th>
		<th class="forums"><a href="/forums/order_by_date/3/1">{{ escort.forum_name }}</a></th>
		<th class="forums"><a href="/forums/order_by_date/4/1">{{ porn.forum_name }}</a></th>
		<th class="forums"><a href="/forums/order_by_date/5/1">{{ dance.forum_name }}</a></th>
		<th class="forums"><a href="/forums/order_by_date/6/1">{{ phone.forum_name }}</a></th>
		<th class="forums"><a href="/forums/order_by_date/7/1">{{ sugar.forum_name }}</a></th>
		<th class="forums"><a href="/forums/order_by_date/8/1">{{ other.forum_name }}</a></th>
	</tr>
{% block forum_menu %}
{% endblock %}
 </table> {% endblock %}


{% endblock %}