{% extends 'base.html' %}
{% block title %}Alert Set{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<h1 style="text-align: center;">Getting Started with SafeWalk Automated Safety Alerts</h1>
<div class="gen_div">
<h4>1. Add Contacts and Their Information</h4>
<h5>Before any Alerts can be created, you must first add at least one contact and their information.</h5>
<p>Tip: If you just want to test the system before using it, just add your own contact information.</p>
<button type="button" onclick="/contacts">Click Here to Add/Edit Contacts</button>
<h4>2. Choose Reocurring or Pre-Scheduled Alert Type and Create a New Alert Set</h4>
<h4>3. Activate/Deactivate Alerts As Needed</h4>
</div>
{% endblock %}