{% extends 'base.html' %}
{% block title %}SafeWork Homepage{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<br>
<center><a href="/"><img style="width: 50%;" src="/static/img/SafeWork2.gif"></a></center>
<center><h2 style="margin-left: 20%; margin-right: 20%;">A site created by and for sex workers to exchange resources, ideas, and strategies for staying safe and making a living.</h2><br></center>
<br>
<center><h3 style="width: 40%">All consensual sex workers including escorts, cam models, pro-dommes, pornstars, dancers, phone sex operators, and sugar babies are welcome here!</h3></center>
<br><br>
<center><h4 style="width: 60%; font-size: 33px;">Pimps, human traffickers, and anyone else who unfairly takes the bodies or profits of sex workers are NOT welcome here.</h4></center>
<br><br>
<h3><a href="/sw_main">Check Out the Brand New SafeWalk Automatic Safety Alert System!</a></h3>
<br><br>
<div class="container-fluid">

    <div class="row">
        <div class="col-4 offset-2">
        	<center>
				<a href="/map" style="color: red; font-family: 'Bitter', serif; font-weight: bold; font-size: 26px;">
					View the Map of Recent Arrests
				</a>
	        	<a href="/map">
	            	<img style=" width: 80%; border-width: 3px; border-style: solid; border-color: black; opacity: .7" src="/static/img/201.jpg">
	        	</a>
        	</center>
        </div>
        <div class="col-4" style="margin: auto;">
        	<center>
        		<a href="/forums" style="color: red; font-family: 'Bitter', serif; font-weight: bold; font-size: 35px;">
        			Exchange Advice and Strategies in the Discussion Forums!
        		</a>
        	</center>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>


{% endblock %}