{% extends 'base.html' %}
{% block title %}SafeWork Homepage{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<h1>The  SafeWork  Project</h1>
<h2>A site created by and for sex workers to exchange resources, ideas, and strategies for staying safe and making a living.<h2><br><br><br>
<h3>All consensual sex workers including escorts, cam models. pro-dommes, pornstars, dancers, phone sex operators, and sugar babies are welcome here!</h3>
<h4>Pimps, human traffickers, and anyone else who unfairly takes the bodies or profits of sex workers are NOT welcome here.</h4>



{% endblock %}