{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<div class="container-fluid">
 <div class="row">
    <div class="col-xs-10-offset-1 col-sm-9-offset-1 col-md-6-offset-3 col-lg-3-offset-4" style="margin-left: 10%;">

	<h2>Log In</h2>
		

		<form action="/login" method="POST"><br>
			E-mail: <input type=textbox name="email_input" id="email_input" required></input><br>
			Password: <input type="password" name="pw_input" id="pw_input" required></input><br>
			<input type="checkbox" onclick="myFunction()">Show Password<br>
			<br><input type=submit>

		</form><br> Don't have an account? &nbsp &nbsp <a href="/register"> Register Here!</a>
		</div>
	</div>
</div>

<script>
	function myFunction() {
    var x = document.getElementById("pw_input");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>
{% endblock %}