<!DOCTYPE html>
<html>
<head>
	<title>Map Page</title>
    <style type="text/css">
    html, body { height: 100%; margin: 0; padding: 0; }
    #map { height: 100%; }
  </style>
</head>
<body>
<div id="map"></div>

  <!-- Google maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

  <!-- what it looks like with a key -->
<!-- <script async defer
//       src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE&callback=initMap">
</script> -->

  <script src="incident_map.js"></script>
</body>
</html>