{% extends 'safewalk_base.html' %}
{% block tit %}Recurring Alert{% endblock %}
{% block safewalk %}
<h1 style="text-align: center;">Create New Recurring Alert Set</h1>
<div class="gen_div">
{% if contacts|length < 1 %}
<h5><a href="/contacts">You must add at least one contact to save an alarm set. Click here to add/edit contacts.</a></h5>
{% endif %}
<form action="/add_recset" method="POST">
	<b>What would you like to name this alert set?:</b> <input type=textbox name="set_name" required></input><br>
	<b>Where are you going and/or what are you doing that you might need this alert?</b><br>
	<textarea rows="2" cols="50" name="descri"></textarea><br>
	
<div id="recurring">
	<b>How often would you like to require checking in with the app? (in minutes):</b> 
	<input type="number" name="interval" placeholder="120" min="15" max="1500" required><br> 
	(You'll receive texts reminding you to check in 30 and 15 minutes before your required check-ins)<br>
	
	Which contact(s) would you like to be alerted if you miss a check-in? (select up to 3)<br>
	{% for contact in contacts %}
	{% set contactloop = loop %}
	<input type="checkbox" name="contact" value="{{ contact.contact_id }}">{{ contact.name }} &nbsp &nbsp
	{% endfor %}<br>
	<a href="/contacts">Add/Edit/View Your Contacts</a>
</div>

<button type="submit">Save Alert Set</button>
<br>
<a href="/sw_main">Go Back to the Main SafeWalk <br> Alerts Page</a>
</form>
<br>

</div>


{% endblock %}