{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block head %}

{% endblock %}
{% block content %}

	<form action="/register" method="POST"><br>
		<b>E-mail:</b> <input type=textbox name="email_input"  value="{{ email }}" required></input><br><br>
		<b>Username:</b> <input type=textbox name="username" value="{{ username }}" required><br><br>
		<b>Password</b> (at least 6 characters): <input type=textbox name="password" required></input><br><br>
		(Please do not use your real name. Use your sex worker name, make one up, or leave the name field blank)<br>
		<b>First name:</b><input type=textbox name="fname" value={{ fname }}></input>&nbsp &nbsp<b>Last name:</b><input type=textbox name="lname" value={{ lname }}></input><br><br>
		<b>Tell us a bit about yourself:</b><br>
		<textarea rows="6" cols="50" name="about_me">{{ about_me }}</textarea><br>
		<br><input type=submit></form>

{% endblock %}