{% extends 'base.html' %}
{% block title %}Registration{% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<style>
	p.hidden {
		display: none;
	}
</style>
{% endblock %}
{% block content %}
<h2 style="text-align: center;">Register for The Safework Project</h2>
<div class="container">
<div class="row">
<div class="col-lg-6-offset-3 col-md-8-offset-2 col-sm-10-offset-1 col-xs-12"	
	<form action="/register" method="POST"><br>
	
		<b>E-mail:</b><b style="color: red;">*</b> <input type=textbox name="email_input"  value="{{ email }}" required></input><br><br>
		<b>Username:</b><b style="color: red;">*</b> <input type=textbox name="username" value="{{ username }}" required><br><br>
		<b>Password</b> (at least 6 characters):<b style="color: red;">*</b> <input type=password name="password" id="myInput" required></input><br>
		<input type="checkbox" onclick="myFunction()">Show Password<br><br>
		(Feel free to use any name, real or fake!)<br>
		<b>First name: <b style="color: red;">*</b></b><input type=textbox name="fname" value={{ fname }} required></input>&nbsp &nbsp<b>Last name:</b><input type=textbox name="lname" value={{ lname }}></input><br><br>

		<b>What is your timezone?:<b style="color: red;">*</b></b>
		<select name="timezone" id="DropDownTimezone" required value="None">
			<option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
			<option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
			<option value="-10.0">(GMT -10:00) Hawaii</option>
			<option value="-9.0">(GMT -9:00) Alaska</option>
			<option value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada), California</option>
			<option value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada), Colorado</option>
			<option value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City; Louisiana</option>
			<option value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima; New York</option>
			<option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
			<option value="-3.5">(GMT -3:30) Newfoundland</option>
			<option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
			<option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
			<option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
			<option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
			<option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
			<option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
			<option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
			<option value="3.5">(GMT +3:30) Tehran</option>
			<option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
			<option value="4.5">(GMT +4:30) Kabul</option>
			<option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
			<option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
			<option value="5.75">(GMT +5:45) Kathmandu</option>
			<option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
			<option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
			<option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
			<option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
			<option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
			<option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
			<option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
			<option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
		</select>
		<br><br>

		<b>Additional E-mail:</b> <input type=textbox name="email_input2"></input><br><br>
	
		<b>Phone Number:</b><input type="tel" name="phone"><br><br>
		
		<b>Tagline:</b> (what is your experience?) <input type=textbox name="tagline" maxlength="100"><br><br>
		<b>What city/area is most of your experience from?</b><input type=textbox name="location" maxlength="50"><br><br>
		
		
		
		<b>Which of the following best describes you?</b><br>
			<input type="radio" name="user_type" value="current_worker" required>Current Sex Worker &nbsp &nbsp
			<input type="radio" name="user_type" value="former_worker">Former Sex Worker &nbsp &nbsp
			<input type="radio" name="user_type" value="aspiring_worker">Aspiring Sex Worker &nbsp &nbsp
			<input type="radio" name="user_type" value="researcher">Researcher &nbsp &nbsp
			<input type="radio" name="user_type" value="other_reason">Other			
			<p id="current1" class="hidden"><b>What is your primary area of expertise?</b><br>
				<input type="radio" name="2nd" value="escort" required>Escorting &nbsp &nbsp
				<input type="radio" name="2nd" value="cam">Cam Modeling &nbsp &nbsp
				<input type="radio" name="2nd" value="dom" required>Pro-Domination &nbsp &nbsp
				<input type="radio" name="2nd" value="porn" required>Porn &nbsp &nbsp
				<input type="radio" name="2nd" value="dance" required>Dancing/Stripping &nbsp &nbsp
				<input type="radio" name="2nd" value="phone" required>Phone Sex &nbsp &nbsp</p>
			<p id="former1" class="hidden"><b>What was your primary area of expertise?</b><br>
				<input type="radio" name="2nd" value="escort" required>Escorting &nbsp &nbsp
				<input type="radio" name="2nd" value="cam" required>Cam Modeling &nbsp &nbsp
				<input type="radio" name="2nd" value="dom" required>Pro-Domination &nbsp &nbsp
				<input type="radio" name="2nd" value="porn" required>Porn &nbsp &nbsp
				<input type="radio" name="2nd" value="dance" required>Dancing/Stripping &nbsp &nbsp
				<input type="radio" name="2nd" value="phone" required>Phone Sex &nbsp &nbsp</p>
			<p id="aspire1" class="hidden"><b>What will be your primary area of expertise?</b><br>
				<input type="radio" name="2nd" value="escort" required>Escorting &nbsp &nbsp
				<input type="radio" name="2nd" value="cam" required>Cam Modeling &nbsp &nbsp
				<input type="radio" name="2nd" value="dom" required>Pro-Domination &nbsp &nbsp
				<input type="radio" name="2nd" value="porn" required>Porn &nbsp &nbsp
				<input type="radio" name="2nd" value="dance" required>Dancing/Stripping &nbsp &nbsp
				<input type="radio" name="2nd" value="phone" required>Phone Sex &nbsp &nbsp</p>
			<p id="research1" class="hidden"><b>Why are you doing research?</b><br>
				<input type="radio" name="2nd" value="school" required>School/University &nbsp &nbsp
				<input type="radio" name="2nd" value="social_justice" required>Sex Worker Social Justice &nbsp &nbsp
				<input type="radio" name="2nd" value="law" required>Law Enforcement &nbsp &nbsp
				<input type="radio" name="2nd" value="curiosity" required>Curiosity &nbsp &nbsp</p>
			<p id="other1" class="hidden"><b>Why are you on this site?</b><br>
				<input type="radio" name="2nd" value="john" required>To hire a Sex Worker &nbsp &nbsp
				<input type="radio" name="2nd" value="law" required>You are Law Enforcement &nbsp &nbsp
				<input type="radio" name="2nd" value="support" required>To support sex workers &nbsp &nbsp
				<input type="radio" name="2nd" value="troll" required>To give your non-sex worker opion to sex workers</p>

<!-- 			<p id="john1" class="hidden">This site is not at all intended to hire sex workers. If you try to hire someone, you will be banned immediately.</p>
			<p id="law1" class="hidden">You may enter the site, but please know that this site is only intended for adult, consensual sex workers. Pimps and human traffickers are NOT welcome here!!!</p>
			<p id="support1" class="hidden">Remember, the best way to support is to listen.</p>
			<p id="troll1" class="hidden">You may join the site, but know that it is not intended for you. The forums are heavily moderated and any trolling will be dealt with swiftly.</p> -->
		<br><br><b>Tell us a bit about yourself:</b><br>
		<textarea rows="6" cols="50" name="about_me">{{ about_me }}</textarea><br>
		<br><input type=submit></form>
</div>
</div>

<script type="text/javascript">

	let current = $('#current1');
	let former = $('#former1');
	let aspire = $('#aspire1');
	let research = $('#research1');
	let other = $('#other1');
	// let john = $('#john1');
	// let law = $('#law1');
	// let support = $('#support1');
	// let troll = $('#troll1');

	$(document).ready(function() {
    $('input[type=radio][name=user_type]').change(function() {
        if (this.value == 'current_worker') {
            current.show();
            former.hide();
            aspire.hide();
            research.hide();
            other.hide();
        }
        else if (this.value == 'former_worker') {
            current.hide();
            former.show();
            aspire.hide();
            research.hide();
            other.hide();
        }
        else if (this.value == 'aspiring_worker') {
            current.hide();
            former.hide();
            aspire.show();
            research.hide();
            other.hide();
        }
        else if (this.value == 'researcher') {
            current.hide();
            former.hide();
            aspire.hide();
            research.show();
            other.hide();
        }
        else if (this.value == 'other_reason') {
            current.hide();
            former.hide();
            aspire.hide();
            research.hide();
            other.show();
        }
    });
});

function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

// 	$(document).ready(function() {
//     $('input[type=radio][name=2nd]').change(function() {
//         else if (this.value == 'john') {
//             john.show();
//             law.hide();
//             support.hide();
//             troll.hide();
//         }
//         else if (this.value == 'law') {
//             john.hide();
//             law.show();
//             support.hide();
//             troll.hide();
//         }
//         else if (this.value == 'support') {
//             john.hide();
//             law.hide();
//             support.show();
//             troll.hide();
//         }
//         else if (this.value == 'troll') {
//             john.hide();
//             law.hide();
//             support.hide();
//             troll.show();
//         }
//         else {
//             john.hide();
//             law.hide();
//             support.hide();
//             troll.hide();        	
//         }        
//     });
// });


</script>


{% endblock %}