{% extends 'base.html' %}
{% block title %}Additional Resources{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<div class="gen_div">
<h1>Change/Reset Password</h1>

<form action="/pass_reset" method="POST" id="pass_reset"><br>
    <b>Enter your E-mail:</b><b style="color: red;">*</b> <input type=textbox name="email" required></input><br>
    <br><input type=submit value="Send a Reset Code to your E-mail">
</form>



<form action="/pass_code" method="POST" class="hidden"><br>
    <b>Enter the Reset Code sent to your E-mail:</b><b style="color: red;">*</b> <input type=textbox name="pass_code" required></input>
    <br><input type=submit>
</form>



<form action="/new_pass" method="POST" class="hidden"><br>
    <input type="password" name="pw_new" id="pw_new" placeholder="New Password" size="30" required></input><br>
    <input type="checkbox" onclick="myFunction2()">Show Password<br>
    <input type="password" name="pw_new2" id="pw_new2" placeholder="Confirm New Password" size="30" required></input><br>
    <br><input type=submit>
</form>


</div>




<script>

	function myFunction2() {
    var x = document.getElementById("pw_new");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}


</script>
{% endblock %}