{% extends 'base.html' %}
{% block title %}Additional Resources{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<div class="gen_div">
<h1>Change/Reset Password</h1>

<form onsubmit="passreset(); return false;" id="pass_reset" ><br>
    <b>Enter your E-mail:</b><b style="color: red;">*</b> <input type=textbox name="email" required></input><br>
    <br><input type=submit value="Send a Reset Code to your E-mail">
</form>



<form id="pass_code" onsubmit="passcode(); return false;" {% if 'reset' not in session %} class="hidden" {% endif %}><br>
    <p>You can send a new reset-code to your E-mail anytime. Only the most recent code is valid and each code is only valid for 10 minutes</p><br>
    <b>Enter the Reset Code sent to your E-mail:</b><b style="color: red;">*</b> <input type=textbox name="pass_code" required></input>
    <br><input type=submit>
</form>



<form id="new_pass" action="/new_pass" method="POST" {% if 'user_reset' not in session %} class="hidden" {% endif %}><br>
    <input type="password" name="pw_new" id="pw_new" placeholder="New Password" size="30" required></input><br>
    <input type="checkbox" onclick="myFunction2()">Show Password<br>
    <input type="password" name="pw_new2" id="pw_new2" placeholder="Confirm New Password" size="30" required></input><br>
    <br><input type=submit>
</form>


</div>




<script>

	function myFunction2() {
    var x = document.getElementById("pw_new");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

    function passreset(){
        $( "#pass_reset" ).submit(function(event){
            console.log('Pass_reset form submitted');
            $.post("/pass_reset", $("#pass_reset").serialize(), function(data) {
                console.log("data then value:");
                console.log(data);
                console.log(data.value);
                if(data == "code_sent") {
                    $( "#pass_code" ).show()
                }
            });
                
            
        });
    };

    function passcode(){
        $( "#pass_code" ).submit(function(event){
            console.log('Pass_code form submitted');
            $.post("/pass_code", $("#pass_code").serialize(), function(data) {
                console.log("data then value:");
                console.log(data);
                console.log(data.value);
                if(data == "code_correct") {
                    $( "#new_pass" ).show()
                }
            });
                
            
        });
    };

</script>
{% endblock %}