{% extends 'base.html' %}
{% block title %}Additional Resources{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<div class="gen_div">
<h1>Additional Resources</h1>
</div>
<div class="gen_div">
<h2>St. James Infirmiry, San Francisco, CA</h2>
<h5><a href="https://stjamesinfirmary.org">https://stjamesinfirmary.org/</a></h5>
<p>
	St. James Infirmary is a peer-based occupational health and safety clinic for sex workers and their families based in San Francisco, CA. It provides myriad services including traditional healthcare, counseling and other mental healthcare, STI testing, intersectional community projects, and a bad date list.
</p>
<h2>Sex Workers Outreach Project USA</h2>
<h5><a href="http://www.new.swopusa.org">http://www.new.swopusa.org/</a></h5>
<p>
	The Sex Workers Outreach Project is a national social justice network dedicated to the fundamental human rights of people involved in the sex trade and their communities, focusing on ending violence and stigma through education and advocacy. It is one of the main national sex worker support organizations. It has many different services in different places, but it is a great central resource to visit!
</p>
</div>
{% endblock %}