{% extends 'base.html' %}
{% block title %}{% block tit %}{% endblock %}{% endblock %}
{% block head %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}
{% block content %}
<h1 style="text-align: center;">SafeWalk Safety Alert Sets</h1>


<div class="container">
	<div class="row">
		<div class="col-lg-10-offset-1 col-md-12">









<div class="container" style="background: none; width: 105%; text-align: center; margin-left: 0%; margin-right: 0%;  padding-left: 0; padding-right: 0; max-width: 100%; height: 5%; min-height: 46px;">
        <div class="row justify-content-between" style="min-height: 46px; margin-right: 0; margin-left: 0;">
        <div class="col-lg-10-offset-1 col-md-12 col-sm-12 text-center" style="min-height: 38px; padding-top: 4px;">
        
       {%- if request.path != "/sw_getting_started" %}
        <button type="button" class="btn btn-danger myclass" onclick="location.href='/sw_getting_started';" style="background-color: white; color:red; font-family: 'Open Sans', sans-serif; font-weight: bold; height: 38px; font-size: 20px; line-height: 30px;" >SafeWalk Instructions</button>
        {% endif %}

        {%- if request.path != "/check_ins" %}
        <button type="button" class="btn btn-danger myclass" onclick="location.href='/check_ins';" style="background-color: white; color:red;font-family: 'Open Sans', sans-serif; font-weight: bold; height: 38px; font-size: 20px; line-height: 30px;" >Check-In</button>
        {% endif %}

        {%- if request.path != "/sw_main" %}
        <button type="button" class="btn btn-danger myclass" onclick="location.href='/sw_main';" style="color: blue; font-family: 'Open Sans', sans-serif; font-weight: bold; height: 38px; font-size: 20px; line-height: 30px;" >Main SafeWalk Page</button>
        {% endif %}

        {%- if request.path != "/contacts" %}
        <button type="button" class="btn btn-danger myclass" onclick="location.href='/contacts';" style="background-color: white; color:red;font-family: 'Open Sans', sans-serif; font-weight: bold; height: 38px; font-size: 20px; line-height: 30px;" >Your Contacts</button>
        {% endif %}
        

       

        </div>
        

        </div>
</div>

<div style="text-align: center"> <h2>Your Local Time: &nbsp <div id='clock'></div></h2></div>









{% block safewalk %}
{% endblock %}

</div>
</div>
</div>
<script type="text/javascript">
	$(document).ready( function() {

	  function displayTime() {
	    var currentTime = new Date();
		var year = currentTime.getYear() + 1900;
	    var month = currentTime.getMonth() + 1;
	    var day = currentTime.getDate();
	    var hours = currentTime.getUTCHours();
	    var minutes = currentTime.getMinutes();
	    var seconds = currentTime.getSeconds();
	    var meridiem = "AM";
	    hours = hours + {{ timezone }};
	    if (hours < 1) {
	    	hours = 24 + hours
	    }
	    if (hours > 12) {
		    hours = hours - 12;
		    meridiem = "PM";
		}

		// 0 AM and 0 PM should read as 12
		if (hours === 0) {
		    hours = 12;    
		}

	    if (seconds < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    seconds = "0" + seconds;
		}

		if (minutes < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    minutes = "0" + minutes;
		}

	    // This gets a "handle" to the clock div in our HTML
	    var clockDiv = document.getElementById('clock');

	    // Then we set the text inside the clock div 
	    // to the hours, minutes, and seconds of the current time
	    clockDiv.innerText =  hours + ":" + minutes + ":" + seconds + " " + meridiem + ",    " + month + "/" + day + "/" + year;
	  }

	  // This runs the displayTime function the first time
	  displayTime();
	  setInterval(displayTime, 1000);

	});
</script>

{% endblock %}