{% extends 'base.html' %}
{% block title %}SafeWalk{% endblock %}
{% block head %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}
{% block content %}
<div style="text-align: center"> <h2>Your Local Time: &nbsp <div id='clock'></div></h2></div>
<h1>SafeWalk Safety Alert Sets</h1>
<a href="/check_ins">Check-In Online and View Your Previously Logged Check-Ins</a>

<h2>Recurring Alerts*</h2>
{% for set in alert_sets %}
{% if set.interval %}
<div class="alert_display">
	<a href="/edit_recset/{{ set.alert_set_id }}">{{ set.a_name }}</a> &nbsp &nbsp
	<div class="alert_inner"> <input id="toggle_rec{{ set.alert_set_id }}" type="checkbox" data-toggle="toggle" data-on="Alert Set Active" data-off="Inactive" {% if set.active == True %}checked{% endif %}>
	&nbsp &nbsp
	</div>
	
	<div {% if set.active == False %}class='hidden'{% endif %} id="count_display{{ set.alert_set_id }}">
	
	<div id="datetime{{ set.alert_set_id }}">
	{% if set.active == True %}
	{{ set.next_alarm_dis }}
	{% endif %}
	</div>
	

	<div id='countdown{{ set.alert_set_id }}'>

	</div>
	</div>
	</div>
	<script type="text/javascript">
	var t{{ set.alert_set_id }} = ({{ set.total }} * 1000)

	$(document).ready( function() {

	  function count{{ set.alert_set_id }}(change = 0) {
	  	  t{{ set.alert_set_id }} = (t{{ set.alert_set_id }} - 1000);
	      var t = t{{ set.alert_set_id }};
		  var seconds = Math.floor( (t/1000) % 60 );
		  var minutes = Math.floor( (t/1000/60) % 60 );
		  var hours = Math.floor( (t/(1000*60*60)) % 24 );
		  var days = Math.floor( t/(1000*60*60*24) );


	    if (seconds < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    seconds = "0" + seconds;
		}

		if (minutes < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    minutes = "0" + minutes;
	    
		}

	    // This gets a "handle" to the clock div in our HTML
	    var countDiv = document.getElementById('countdown{{ set.alert_set_id }}');

	    // Then we set the text inside the clock div 
	    // to the hours, minutes, and seconds of the current time

	    if(t > 0) {
	    countDiv.innerText = days + " days and " + hours + ":" + minutes + ":" + seconds + " Remaining";
	  
	    return {
	    	'changes': change + 1 
	    };
		}
		else {
		countDiv.innerText = "0 days and 0:00:00 Remaining";
	  
	    return {
	    	'changes': change 
	    };

		}

	  }

	  // This runs the displayTime function the first time
	  var changing = count{{ set.alert_set_id }}().changes;

	  count{{ set.alert_set_id }}(changing);  
	  setInterval(count{{ set.alert_set_id }}, 1000);

	});

</script>

<script>
	$(document).ready(function(){
	    $( "#toggle_rec{{ set.alert_set_id }}" ).change(function(event){
	    	console.log('Button is pressed!')
	        if(this.checked) {
	        	$.get("/activate/{{ set.alert_set_id }}", function(data) {
	        		document.getElementById("datetime{{ set.alert_set_id }}").innerHTML = data.value;
	        	});
	        	console.log("Toggle Button On is working");
	        	$( "#count_display{{ set.alert_set_id }}" ).show();
	        }


	       	else {
	       		$.get("/deactivate/{{ set.alert_set_id }}");
	        	console.log("Toggle Button Off is working");
	        	$( "#count_display{{ set.alert_set_id }}" ).hide();
	    	};
	    
	});
	});
</script>
{% endif %}
{% endfor %}
<form method="GET" action="/rec_alerts">
    <button type="submit">Add New Recurring Alert Set</button>
</form><br><br><br>

<h2>Pre-set/Scheduled Alerts*</h2>
{% for set in alert_sets %}
{% if not set.interval %}

<div class="alert_display">
	<a href="/edit_schedset/{{ set.alert_set_id }}">{{ set.a_name }}</a> &nbsp &nbsp
	<div class="alert_inner"> <input id="toggle_sched{{ set.alert_set_id }}" type="checkbox" data-toggle="toggle" data-on="Alert Set Active" data-off="Inactive" {% if set.active == True %}checked{% endif %}>
	&nbsp &nbsp
	</div>
	{% if set.active == True %}
	{% if set.total != 0 %}
	{{ set.next_alarm_dis }}

	
	&nbsp &nbsp &nbsp &nbsp

	<div class="alert_inner" id='countdown{{ set.alert_set_id }}'></div>
	<script type="text/javascript">
	var t{{ set.alert_set_id }} = ({{ set.total }} * 1000)

	$(document).ready( function() {

	  function count{{ set.alert_set_id }}(change = 0) {
	  	  t{{ set.alert_set_id }} = (t{{ set.alert_set_id }} - 1000);
	      var t = t{{ set.alert_set_id }};
		  var seconds = Math.floor( (t/1000) % 60 );
		  var minutes = Math.floor( (t/1000/60) % 60 );
		  var hours = Math.floor( (t/(1000*60*60)) % 24 );
		  var days = Math.floor( t/(1000*60*60*24) );


	    if (seconds < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    seconds = "0" + seconds;
		}

		if (minutes < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    minutes = "0" + minutes;
	    
		}

	    // This gets a "handle" to the clock div in our HTML
	    var countDiv = document.getElementById('countdown{{ set.alert_set_id }}');

	    // Then we set the text inside the clock div 
	    // to the hours, minutes, and seconds of the current time
	    if(t > 0) {
	    countDiv.innerText = days + " days and " + hours + ":" + minutes + ":" + seconds + " Remaining";
	  
	    return {
	    	'changes': change + 1 
	    };
		}
		else {
		countDiv.innerText = "0 days and 0:00:00 Remaining";
	  
	    return {
	    	'changes': change 
	    };

		}
	  }

	  // This runs the displayTime function the first time
	  var changing = count{{ set.alert_set_id }}().changes;

	  count{{ set.alert_set_id }}(changing);  
	  setInterval(count{{ set.alert_set_id }}, 1000);

	});

</script>

{% endif %}
{% endif %}
</div>
<script>
	$(document).ready(function(){
	    $( "#toggle_sched{{ set.alert_set_id }}" ).change(function(event){
	        if(this.checked) {
	        	$.get("/activate/{{ set.alert_set_id }}");
	        	console.log("Toggle Button On is working");
	        }
	       	else {
	       		$.get("/deactivate/{{ set.alert_set_id }}");
	        	console.log("Toggle Button Off is working");
	        }
	    });
	    
	});
</script>

{% endif %}
{% endfor %}









<form method="GET" action="/sched_alerts">
    <button type="submit">Add New Scheduled Alert Set</button>
</form>







<script>
	$(document).ready(function(){
	    $( "#title_but" ).click(function(){
	        console.log("Toggle Button is working");
	    });
	});
</script>



<script type="text/javascript">
	$(document).ready( function() {

	  function displayTime() {
	    var currentTime = new Date();
		var year = currentTime.getYear() + 1900;
	    var month = currentTime.getMonth();
	    var day = currentTime.getDate();
	    var hours = currentTime.getUTCHours();
	    var minutes = currentTime.getMinutes();
	    console.log(typeof minutes);
	    var seconds = currentTime.getSeconds();
	    var meridiem = "AM";
	    hours = hours + {{ timezone }}
	    if (hours < 1) {
	    	hours = 25 + hours
	    }
	    if (hours > 12) {
		    hours = hours - 12;
		    meridiem = "PM";
		}

		// 0 AM and 0 PM should read as 12
		if (hours === 0) {
		    hours = 12;    
		}

	    if (seconds < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    seconds = "0" + seconds;
		}

		if (minutes < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    minutes = "0" + minutes;
		}

	    // This gets a "handle" to the clock div in our HTML
	    var clockDiv = document.getElementById('clock');

	    // Then we set the text inside the clock div 
	    // to the hours, minutes, and seconds of the current time
	    clockDiv.innerText =  hours + ":" + minutes + ":" + seconds + " " + meridiem + ",    " + month + "/" + day + "/" + year;
	  }

	  // This runs the displayTime function the first time
	  displayTime();
	  setInterval(displayTime, 1000);

	});
</script>

<br><br><br>
	<b>*Adding an Alert Set: Do you want your alert set to require recurring check-ins (by a certain time interval) or pre-set check-ins with scheduled pre-set times?</b> Recurring check-ins are best if you aren't sure of your schedule when you go out to work (like with most who work the street). Pre-set check-ins are best if you have a known schedule and/or date with a client. In that case, you can require check-ins shortly after arriving, when the date should end, and/or some period after that (in case you aren't sure of the end time).<br>
{% endblock %}