{% extends 'safewalk_base.html' %}
{% block tit %}Scheduled Alert{% endblock %}
{% block safewalk %}
<h1 style="text-align: center;">New Scheduled Alert Set</h1>
<div class="gen_div">
{% if contacts|length < 1 %}
<h5><a href="/contacts">You must add at least one contact to save an alarm set. Click here to add/edit contacts.</a></h5>
{% endif %}
<form action="/add_schedset" method="POST">
	<b>What would you like to name this alert set?:</b> <input type=textbox name="set_name" required></input><br>
	<b>Where are you going and/or what are you doing that you might need this alert?</b><br>
	<textarea rows="2" cols="50" name="descri"></textarea>
	<br>
	What Date would you like this alert set to first be available? (optional)<input type="date" name="date" value=""><br>
	What is the last date you would like this alert set to be available? (optional)<input type="date" name="end_date" value="">
	<br><br>
	<button type="submit">Create Alert Set</button>
	<br>
	<a href="/sw_main">Go Back to the Main SafeWalk <br> Alerts Page</a>
</form>

{% endblock %}